@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

ul li {
  list-style-type: none;
  display: block;
}

:root {
  --global-color-background: #f9f2d3;
  --global-color-grey-light: rgb(165, 165, 165);
  --global-color-grey-dark: rgb(84, 91, 94);
  --global-padding-left-right: 15rem;
  --website-info-column-width: 46%;
  --btn-color-blue: rgb(0, 140, 255);
  --btn-color-orange: rgb(255, 187, 0);
  --btn-color-green: rgb(98, 202, 0);
}

p {
  line-height: 1.5rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.btn {
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Spectral", serif;
  height: 100%;
  width: 100%;
  background-color: var(--global-color-background);
}

.App {
  width: 100%;
  height: 100%;
}

.overflow-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: var(--global-color-background);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overflow-wrapper .website-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 1200px;
  height: 100%;
  padding: 6rem 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: fixed;
  z-index: 6;
  top: 6rem;
  left: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1200px;
  height: 0;
}

.header .btn-audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 4rem;
  height: 4rem;
}

.header .btn-audio .icon {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.header .btn-audio .icon-audio-play {
  background-image: url("./images/icon - sound off-01.png");
}

.header .btn-audio .icon-audio-pause {
  background-image: url("./images/icon - sound on-01.png");
}

.website-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 38rem;
  min-height: 38rem;
  width: 100%;
  z-index: 3;
}

.website-info .website-info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.website-info .website-info-top .text-box {
  width: var(--website-info-column-width);
  line-height: 4rem;
  font-weight: 700;
  text-align: right;
}

.website-info .website-info-top .text-box h1 {
  font-weight: 700;
  text-align: center;
}

.website-info .website-info-top .text-box h1:nth-child(1) {
  font-size: 3rem;
}

.website-info .website-info-top .text-box h1:nth-child(2) {
  font-size: 4.7rem;
}

.website-info .website-info-top .map-image {
  width: var(--website-info-column-width);
  height: 14rem;
  background-image: url("./images/lelija gera png.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.website-info .text-boxes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.website-info .text-boxes-container .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  width: var(--website-info-column-width);
}

.website-info .text-boxes-container .text-box h1 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-bottom: 1rem;
  font-size: 31px;
}

.website-info .text-boxes-container .text-box .text {
  text-align: justify;
  overflow: hidden;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  font-size: 18px;
  line-height: 24px;
}

.website-info .text-boxes-container .text-box .btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 1rem 0;
  background-color: #e8db9b;
  width: 10rem;
  margin-top: 1rem;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  border: none;
  outline: none;
}

.website-info .text-boxes-container .text-box-lt .text {
  height: 9rem;
}

.website-info .text-boxes-container .text-box-en .text {
  height: 10.5rem;
}

.website-info .text-boxes-container .text-box-lt-open .text {
  height: 20rem;
}

.website-info .text-boxes-container .text-box-en-open .text {
  height: 21rem;
}

.website-info .text-boxes-container .text-box:nth-child(2) {
  margin-top: 6rem;
}

.interactive-map-section {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.interactive-map-section .map-container {
  position: relative;
  width: 100%;
}

.interactive-map-section .map-container .map-images-container {
  position: relative;
  width: 945px;
  height: 1042px;
}

.interactive-map-section .map-container .map-images-container .main-map-image {
  width: 100%;
  height: 100%;
  background-image: url("./images/Map (no shadows)-01.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: -5px;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  position: absolute;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  top: 20%;
  right: 22%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 2;
}

.categories .text-container {
  margin-bottom: 1rem;
}

.categories .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.categories .buttons-container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 2px solid transparent;
  border-radius: 3rem;
  padding: 3px;
  margin-bottom: 5px;
  width: 17rem;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.categories .buttons-container .btn .circle {
  height: 70px;
  width: 70px;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  margin-right: 1rem;
  cursor: pointer;
}

.categories .buttons-container .btn p {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.categories .buttons-container .btn:nth-child(1) .circle {
  background-image: url("./images/seduvos istorija 1-01.png");
}

.categories .buttons-container .btn:nth-child(2) .circle {
  background-image: url("./images/seduvos legendos 1-01.png");
}

.categories .buttons-container .btn:nth-child(3) .circle {
  background-image: url("./images/seduva dabar 1-01.png");
}

.categories .buttons-container .btn-border-history {
  border: 2px solid #99b5cc;
}

.categories .buttons-container .btn-border-legends {
  border: 2px solid #fed146;
}

.categories .buttons-container .btn-border-present {
  border: 2px solid #dec44e;
}

.map-icons-container {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
}

.map-icons-container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  height: 175px;
  width: 150px;
  top: 100%;
  -webkit-transition: 0.1s z-index ease;
  transition: 0.1s z-index ease;
  -webkit-transition: 0.3s opacity ease;
  transition: 0.3s opacity ease;
  pointer-events: none;
}

.map-icons-container .btn .location-title {
  z-index: -2;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  font-size: 18px;
  -webkit-transform: translate(0, 80%);
          transform: translate(0, 80%);
}

.map-icons-container .btn .logo-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.map-icons-container .btn .logo {
  position: absolute;
  -webkit-transform: translate(-50%, -86%);
          transform: translate(-50%, -86%);
  left: 50%;
  top: 86%;
  background-size: 100% 100%;
  background-position: center;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  height: 150px;
  width: 150px;
  opacity: 0;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  pointer-events: none;
}

.map-icons-container .btn .logo-animation {
  -webkit-animation-name: logo-clicked-animation;
          animation-name: logo-clicked-animation;
}

@-webkit-keyframes logo-clicked-animation {
  0% {
    height: 150px;
    width: 150px;
  }
  50% {
    height: 170px;
    width: 170px;
  }
  100% {
    height: 150px;
    width: 150px;
  }
}

@keyframes logo-clicked-animation {
  0% {
    height: 150px;
    width: 150px;
  }
  50% {
    height: 170px;
    width: 170px;
  }
  100% {
    height: 150px;
    width: 150px;
  }
}

.map-icons-container .btn .logo-innactive {
  opacity: 1;
}

.map-icons-container .btn .logo-scale-animation {
  height: 13vw;
  width: 13vw;
}

.map-icons-container .btn-passive {
  pointer-events: auto;
}

.map-icons-container .btn-passive .logo {
  pointer-events: auto !important;
}

.map-icons-container .btn-passive:hover .location-title {
  z-index: 3;
  opacity: 1;
}

.map-icons-container .btn-active {
  z-index: 5;
}

.map-icons-container .btn-history:nth-child(1) {
  height: 110px;
  z-index: 2;
  top: 46%;
  left: 23%;
}

.map-icons-container .btn-history:nth-child(1) .logo {
  top: 80%;
}

.map-icons-container .btn-history:nth-child(2) {
  height: 120px;
  z-index: 1;
  top: 58%;
  left: 31%;
}

.map-icons-container .btn-history:nth-child(2) .logo {
  top: 80%;
}

.map-icons-container .btn-legends {
  width: 110px;
  height: 110px;
}

.map-icons-container .btn-legends .logo {
  top: 77%;
}

.map-icons-container .btn-legends:nth-child(3) {
  top: 19%;
  left: 26%;
}

.map-icons-container .btn-legends:nth-child(4) {
  top: 55%;
  left: 4%;
}

.map-icons-container .btn-legends:nth-child(5) {
  top: 65%;
  left: 41%;
}

.map-icons-container .btn-legends:nth-child(6) {
  top: 76%;
  left: 13%;
}

.map-icons-container .btn-legends:nth-child(7) {
  top: 98%;
  left: 59%;
}

.map-icons-container .btn-legends:nth-child(8) {
  z-index: 6;
  top: 83%;
  left: 76%;
}

.map-icons-container .btn-legends:nth-child(9) {
  top: 94%;
  left: 88%;
}

.map-icons-container .btn-present:nth-child(10) {
  top: 22%;
  left: 8%;
}

.map-icons-container .btn-present:nth-child(11) {
  top: 34%;
  left: 29%;
  z-index: 5;
}

.map-icons-container .btn-present:nth-child(12) {
  z-index: 0;
  height: 100px;
  top: 34%;
  left: 46%;
  z-index: 5;
}

.map-icons-container .btn-present:nth-child(12) .logo {
  top: 81%;
}

.map-icons-container .btn-present:nth-child(13) {
  z-index: 3;
  top: 45%;
  left: 36%;
  width: 100px;
  height: 150px;
}

.map-icons-container .btn-passive:nth-child(15) {
  height: 70px;
  width: 120px;
  top: 46%;
  left: 55%;
  z-index: 5;
}

.map-icons-container .btn-passive:nth-child(15) .logo {
  top: 80%;
}

.map-icons-container .btn-present:nth-child(14) {
  height: 100px;
  top: 64%;
  left: 57%;
}

.map-icons-container .btn-present:nth-child(14) .logo {
  top: 75%;
}

.map-icons-container .btn-passive:nth-child(16) {
  top: 78%;
  left: 37%;
  width: 160px;
  height: 120px;
}

.map-icons-container .btn-passive:nth-child(17) {
  z-index: 2;
  top: 91%;
  left: 73%;
  height: 80px;
  width: 100px;
}

.map-icons-container .btn-passive:nth-child(17) .logo {
  top: 79%;
}

.modal-window-container {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 7;
  background-color: rgba(255, 255, 255, 0.4);
}

.modal-window-container .content {
  width: 100%;
  height: 100%;
}

.modal-window-container .window-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 820px;
  height: auto;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

.modal-window-container .window-content .btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
  background-image: url("./images/icon - close-01.png");
}

.modal-window-container .window-content .content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  width: 100%;
  height: 400px;
  padding-bottom: 0;
  background-color: #fee667;
}

.modal-window-container .window-content .content-top .media-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 640px;
  height: 360px;
  background-color: black;
  color: white;
}

.modal-window-container .window-content .content-top .media-screen .model-view-wrapper {
  width: 100%;
  height: 100%;
}

.modal-window-container .window-content .content-top .media-screen .model-view-wrapper .model-description {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  color: black;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}

.modal-window-container .window-content .content-top .media-screen .model-view-wrapper .model-view-container {
  width: 100%;
  height: 100%;
  position: relative;
  outline: none;
}

.modal-window-container .window-content .content-top .media-screen .model-view-wrapper .model-view-container .loading-screen {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.modal-window-container .window-content .content-top .media-screen .model-view-wrapper .model-view-container .loading-screen .icon {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-image: url("./images/loading_icon.png");
  -webkit-animation-name: loading-screen-animation;
          animation-name: loading-screen-animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes loading-screen-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading-screen-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.modal-window-container .window-content .content-top .media-screen .model-view-wrapper .model-view-container canvas {
  outline: none;
}

.modal-window-container .window-content .content-top .media-screen .model-view-wrapper .model-view-container .loading-text {
  position: absolute !important;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
  font-size: 40px;
}

.modal-window-container .window-content .content-top .media-screen .video-container {
  width: 100%;
  height: 100%;
}

.modal-window-container .window-content .content-top .media-screen .video-container video {
  background-position: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-window-container .window-content .content-top .media-screen .btn-play {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-size: cover;
  background-image: url("./images/icon - legendos video-01.png");
  width: 120px;
  height: 120px;
  cursor: pointer;
  z-index: 2;
}

.modal-window-container .window-content .content-top .media-screen .btn-pause {
  opacity: 0;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-image: url("./images/Pause - 2-01.png");
}

.modal-window-container .window-content .content-top .media-screen .btn-full-screen {
  position: absolute;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 2;
  background-position: center;
  background-size: cover;
  background-image: url("./images/icon-enlarge.png");
  cursor: pointer;
}

.modal-window-container .window-content .content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: white;
}

.modal-window-container .window-content .content-bottom .content-bottom-wrapper {
  width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 5rem;
  padding-top: 35px;
}

.modal-window-container .window-content .content-bottom .content-bottom-wrapper h1 {
  font-size: 31px;
  line-height: 31px;
  margin-bottom: 15px;
}

.modal-window-container .window-content .content-bottom .content-bottom-wrapper p {
  text-align: justify;
  font-size: 18px;
  line-height: 24px;
  white-space: pre-wrap;
  white-space: pre-line;
}

.modal-window-container .window-content .window-full-screen {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
}

.modal-window-container .window-content .window-full-screen .media-screen {
  width: 100%;
  height: 100%;
}

.modal-window-container .window-content .window-full-screen .media-screen .video-container video {
  -o-object-fit: contain;
     object-fit: contain;
}

.modal-window-container .window-content .window-full-screen .media-screen .btn-full-screen {
  right: 20px;
  background-image: url("./images/icon-enlarge-invert.png");
}

.modal-window-container .window-content .window-full-screen .media-screen .model-view-wrapper .model-description {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  width: 400px;
  top: 40px;
  left: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 18px;
  line-height: 24px;
  padding: 20px;
}

.modal-window-container .window-content .window-full-screen .btn-close {
  display: none;
}

.window-audio .window-content .content-top {
  background-color: #a7b9c7;
}

.window-audio .window-content .content-top .media-screen {
  background: -webkit-gradient(linear, left bottom, left top, from(#505050), to(#8a8a8a));
  background: linear-gradient(0deg, #505050 0%, #8a8a8a 100%);
}

.window-audio .window-content .content-top .media-screen .btn-play {
  background-image: url("./images/icon - audio-01.png");
}

.window-audio .window-content .content-top .media-screen .btn-pause {
  background-image: url("./images/Pause - 1-01.png");
}

.window-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.window-gallery .window-content .content-top {
  background-color: #bdda55;
}

.window-gallery .window-content .content-top .media-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(#505050), to(#8a8a8a));
  background: linear-gradient(0deg, #505050 0%, #8a8a8a 100%);
}

.window-gallery .window-content .content-top .media-screen .buttons {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  z-index: 2;
  height: 0px;
}

.window-gallery .window-content .content-top .media-screen .buttons .btn-gallery {
  position: relative;
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
}

.window-gallery .window-content .content-top .media-screen .buttons .btn-previous {
  background-image: url("./images/icon - back-1-01.png");
}

.window-gallery .window-content .content-top .media-screen .buttons .btn-next {
  background-image: url("./images/icon - forward-01.png");
}

.window-gallery .window-content .content-top .media-screen .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.window-gallery .window-content .content-top .media-screen .image-container .image-carousel-overflow {
  position: relative;
  width: 100%;
  height: 100%;
}

.window-gallery .window-content .content-top .media-screen .image-container .image-carousel-overflow .image-carousel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  height: 100%;
  width: 500%;
}

.window-gallery .window-content .content-top .media-screen .image-container .image-carousel-overflow .image-carousel .image {
  width: calc(100% / 5);
  height: 100%;
  background-position: center;
  background-size: cover;
}

.window-gallery .window-content .content-top .media-screen .image-container .image-carousel-overflow .image-carousel .image:nth-child(1) {
  background-image: url("./images/simkunaite/simkunaite1.jpg");
}

.window-gallery .window-content .content-top .media-screen .image-container .image-carousel-overflow .image-carousel .image:nth-child(2) {
  background-image: url("./images/simkunaite/simkunaite2.jpg");
}

.window-gallery .window-content .content-top .media-screen .image-container .image-carousel-overflow .image-carousel .image:nth-child(3) {
  background-image: url("./images/simkunaite/simkunaite3.jpg");
}

.window-gallery .window-content .content-top .media-screen .image-container .image-carousel-overflow .image-carousel .image:nth-child(4) {
  background-image: url("./images/simkunaite/simkunaite4.jpg");
}

.window-gallery .window-content .content-top .media-screen .image-container .image-carousel-overflow .image-carousel .image:nth-child(5) {
  background-image: url("./images/simkunaite/simkunaite1.jpg");
}

.window-gallery .window-content .content-bottom .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 8rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 35px;
}

.window-gallery .window-content .content-bottom .image-container .image {
  width: calc(100% / 6);
  height: 100%;
  background-position: center;
  background-size: cover;
}

.window-gallery .window-content .content-bottom .image-container .image:nth-child(1) {
  background-image: url("./images/simkunaite/simkunaite1.jpg");
}

.window-gallery .window-content .content-bottom .image-container .image:nth-child(2) {
  background-image: url("./images/simkunaite/simkunaite2.jpg");
}

.window-gallery .window-content .content-bottom .image-container .image:nth-child(3) {
  background-image: url("./images/simkunaite/simkunaite3.jpg");
}

.window-gallery .window-content .content-bottom .image-container .image:nth-child(4) {
  background-image: url("./images/simkunaite/simkunaite4.jpg");
}

.window-gallery .window-content .content-bottom .image-container .image:nth-child(5) {
  background-image: url("./images/simkunaite/simkunaite1.jpg");
}

@-webkit-keyframes image-carousel-animation {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes image-carousel-animation {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.window-virtual-reality .window-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  color: white;
  width: 35rem;
  height: 20rem;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.window-virtual-reality .window-content p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.window-virtual-reality .window-content .btn-confirm-vr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  background-color: #dac14c;
  width: 10rem;
  height: 3rem;
}

.modal-window-container .window-content-model-view {
  position: relative;
  width: 90%;
  height: 90%;
  background: -webkit-gradient(linear, left bottom, left top, from(#505050), to(#8a8a8a));
  background: linear-gradient(0deg, #505050 0%, #8a8a8a 100%);
}

.modal-window-container .window-content-model-view .btn-close {
  z-index: 1;
}

.modal-window-container .window-content-model-view .model-view-container {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1025px) {
  .categories .buttons-container .btn:nth-child(1):hover {
    border: 2px solid #99b5cc;
  }
  .categories .buttons-container .btn:nth-child(2):hover {
    border: 2px solid #fed146;
  }
  .categories .buttons-container .btn:nth-child(3):hover {
    border: 2px solid #dec44e;
  }
  .window-content .content-top .media-screen .btn-pause:hover {
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  :root {
    --website-info-column-width: 48%;
  }
  .overflow-wrapper .website-wrapper {
    width: 100%;
    padding: 2rem 3rem;
  }
  .header {
    top: 2rem;
    width: 100%;
  }
  .header .btn {
    margin-right: 2rem;
  }
  .website-info {
    margin-bottom: 6rem;
  }
  .website-info .website-info-top .text-box h1:nth-child(1) {
    font-size: 2.4rem;
  }
  .website-info .website-info-top .text-box h1:nth-child(2) {
    font-size: 3.8rem;
  }
  .website-info .text-boxes-container .text-box-lt .text {
    height: 12rem;
  }
  .website-info .text-boxes-container .text-box-en .text {
    height: 13.5rem;
  }
  .website-info .text-boxes-container .text-box-lt-open .text {
    height: 24rem;
  }
  .website-info .text-boxes-container .text-box-en-open .text {
    height: 27rem;
  }
  .interactive-map-section .map-container .map-images-container {
    width: 100%;
    height: 1042px;
  }
  .categories {
    top: 25%;
    right: 0%;
  }
  .window-video .window-content .window-full-screen {
    width: 100vh !important;
    height: 100vw !important;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
  }
}

@media only screen and (max-width: 768px) {
  .overflow-wrapper .website-wrapper {
    width: 100%;
    padding: 2rem 3rem;
  }
  .header {
    top: 2rem;
  }
  .header .btn {
    margin-right: 3rem;
  }
  .website-info .website-info-top .text-box {
    line-height: 2.5rem;
  }
  .website-info .website-info-top .text-box h1:nth-child(1) {
    font-size: 1.7rem;
  }
  .website-info .website-info-top .text-box h1:nth-child(2) {
    font-size: 2.7rem;
  }
  .website-info .text-boxes-container .text-box-lt .text {
    height: 14.8rem;
  }
  .website-info .text-boxes-container .text-box-en .text {
    height: 16.3rem;
  }
  .website-info .text-boxes-container .text-box-lt-open .text {
    height: 32rem;
  }
  .website-info .text-boxes-container .text-box-en-open .text {
    height: 33rem;
  }
  .interactive-map-section .map-container .map-images-container {
    height: 900px;
  }
  .modal-window-container .window-content {
    width: calc(100% - 2rem);
  }
}

@media only screen and (max-width: 420px) {
  :root {
    --website-info-column-width: 100%;
  }
  .header {
    top: 1rem;
  }
  .header .btn {
    margin-right: 1rem;
    width: 50px;
    height: 50px;
  }
  .overflow-wrapper .website-wrapper {
    padding: 1rem;
  }
  .website-info {
    min-height: auto;
    height: auto;
    margin-bottom: 2rem;
  }
  .website-info .website-info-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
  .website-info .website-info-top .text-box {
    margin-bottom: 1rem;
    line-height: 3rem;
  }
  .website-info .website-info-top .text-box h1:nth-child(1) {
    font-size: 2rem;
  }
  .website-info .website-info-top .text-box h1:nth-child(2) {
    font-size: 3.3rem;
  }
  .website-info .website-info-top .map-image {
    height: 11rem;
  }
  .website-info .text-boxes-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .website-info .text-boxes-container .text-box h1 {
    margin-bottom: 0.5rem;
    text-align: center;
    width: 100%;
  }
  .website-info .text-boxes-container .text-box .btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 1rem;
  }
  .website-info .text-boxes-container .text-box:nth-child(2) {
    margin-top: 0;
  }
  .website-info .text-boxes-container .text-box-lt {
    margin-bottom: 2rem;
  }
  .website-info .text-boxes-container .text-box-lt .text {
    height: 13.7rem;
  }
  .website-info .text-boxes-container .text-box-en {
    margin-top: 0;
  }
  .website-info .text-boxes-container .text-box-en .text {
    height: 15rem;
  }
  .website-info .text-boxes-container .text-box-lt-open .text {
    height: 29rem;
  }
  .website-info .text-boxes-container .text-box-en-open .text {
    height: 31.5rem;
  }
  .interactive-map-section .map-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .interactive-map-section .map-container .categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    margin-bottom: 5px;
  }
  .interactive-map-section .map-container .categories .text-container {
    margin-bottom: 0rem;
  }
  .interactive-map-section .map-container .categories .buttons-container .btn {
    margin-bottom: 5px;
  }
  .interactive-map-section .map-container .categories .buttons-container .btn .circle {
    height: 50px;
    width: 50px;
  }
  .interactive-map-section .map-container .map-images-container {
    height: 500px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .map-icons-container .btn {
    height: 115px;
    width: 100px;
  }
  .map-icons-container .btn .logo {
    height: 100px;
    width: 100px;
  }
  @-webkit-keyframes logo-clicked-animation {
    0% {
      height: 100px;
      width: 100px;
    }
    50% {
      height: 110px;
      width: 110px;
    }
    100% {
      height: 100px;
      width: 100px;
    }
  }
  @keyframes logo-clicked-animation {
    0% {
      height: 100px;
      width: 100px;
    }
    50% {
      height: 110px;
      width: 110px;
    }
    100% {
      height: 100px;
      width: 100px;
    }
  }
  .map-icons-container .btn-legends {
    width: 70px;
    height: 70px;
  }
  .map-icons-container .btn-history:nth-child(1) {
    height: 73px;
    width: 75px;
    top: 48%;
    left: 21%;
  }
  .map-icons-container .btn-history:nth-child(2) {
    height: 80px;
    width: 75px;
    top: 60%;
    left: 31%;
  }
  .map-icons-container .btn-legends:nth-child(3) {
    top: 13%;
    left: 26%;
  }
  .map-icons-container .btn-legends:nth-child(4) {
    top: 55%;
    left: 4%;
  }
  .map-icons-container .btn-legends:nth-child(5) {
    top: 69%;
    left: 41%;
  }
  .map-icons-container .btn-legends:nth-child(6) {
    top: 76%;
    left: 13%;
  }
  .map-icons-container .btn-legends:nth-child(7) {
    top: 98%;
    left: 51%;
  }
  .map-icons-container .btn-legends:nth-child(8) {
    top: 83%;
    left: 76%;
  }
  .map-icons-container .btn-legends:nth-child(9) {
    top: 94%;
    left: 94%;
  }
  .map-icons-container .btn-present:nth-child(10) {
    height: 105px;
    width: 75px;
    top: 22%;
    left: 8%;
  }
  .map-icons-container .btn-present:nth-child(11) {
    height: 115px;
    width: 80px;
    top: 34%;
    left: 29%;
  }
  .map-icons-container .btn-present:nth-child(12) {
    height: 50px;
    width: 90px;
    top: 33%;
    left: 52%;
    z-index: 7;
  }
  .map-icons-container .btn-present:nth-child(13) {
    width: 50px;
    height: 95px;
    z-index: 5;
    top: 45%;
    left: 36%;
  }
  .map-icons-container .btn-present:nth-child(14) {
    height: 70px;
    width: 85px;
    top: 64%;
    left: 57%;
  }
  .map-icons-container .btn-passive:nth-child(15) {
    height: 55px;
    width: 90px;
    top: 44%;
    left: 55%;
  }
  .map-icons-container .btn-passive:nth-child(16) {
    width: 110px;
    height: 85px;
    top: 83%;
    left: 37%;
  }
  .map-icons-container .btn-passive:nth-child(17) {
    height: 60px;
    width: 90px;
    top: 93%;
    left: 73%;
  }
  .modal-window-container {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    top: 0;
    left: 50%;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  .modal-window-container .window-content {
    width: 100%;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .modal-window-container .window-content .content-top {
    padding: 1rem;
    padding-bottom: 0rem;
    height: 300px;
  }
  .modal-window-container .window-content .content-top .media-screen {
    width: 100%;
    height: 100%;
  }
  .modal-window-container .window-content .content-top .media-screen .model-view-wrapper .model-view-container .loading-text {
    font-size: 30px;
  }
  .modal-window-container .window-content .content-top .media-screen .btn-full-screen {
    top: 4px;
    right: 50px;
  }
  .modal-window-container .window-content .window-full-screen {
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .modal-window-container .window-content .window-full-screen .media-screen {
    width: 100%;
    height: 100%;
  }
  .modal-window-container .window-content .window-full-screen .media-screen .video-container video {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .modal-window-container .window-content .window-full-screen .media-screen .model-view-wrapper .model-description {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    top: 100%;
    left: 50%;
    width: 100%;
  }
  .modal-window-container .window-content .window-full-screen .media-screen .btn-full-screen {
    top: 20px;
    right: 20px;
  }
  .modal-window-container .window-content .content-bottom {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .modal-window-container .window-content .content-bottom .content-bottom-wrapper {
    padding: 1rem;
  }
  .modal-window-container .window-content .content-bottom .content-bottom-wrapper .image-container {
    margin-bottom: 1rem;
  }
  .window-gallery .window-content .content-top {
    height: 450px;
  }
}

@media only screen and (max-width: 375px) {
  .website-info .website-info-top .text-box {
    line-height: 3rem;
  }
  .website-info .website-info-top .text-box h1:nth-child(1) {
    font-size: 1.8rem;
  }
  .website-info .website-info-top .text-box h1:nth-child(2) {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 320px) {
  .website-info .website-info-top .text-box {
    line-height: 2.5rem;
  }
  .website-info .website-info-top .text-box h1:nth-child(1) {
    font-size: 1.6rem;
  }
  .website-info .website-info-top .text-box h1:nth-child(2) {
    font-size: 2.5rem;
  }
  .interactive-map-section .map-container .map-images-container {
    height: 450px;
  }
  .map-icons-container .btn {
    height: 100px;
    width: 80px;
  }
  .map-icons-container .btn .logo {
    height: 80px;
    width: 80px;
  }
  @-webkit-keyframes logo-clicked-animation {
    0% {
      height: 80px;
      width: 80px;
    }
    50% {
      height: 95px;
      width: 95px;
    }
    100% {
      height: 80px;
      width: 80px;
    }
  }
  @keyframes logo-clicked-animation {
    0% {
      height: 80px;
      width: 80px;
    }
    50% {
      height: 95px;
      width: 95px;
    }
    100% {
      height: 80px;
      width: 80px;
    }
  }
}
/*# sourceMappingURL=index.css.map */