@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  box-sizing: border-box;
}

ul {
  padding-inline-start: 0;
  li {
    list-style-type: none;
    display: block;
  }
}

:root {
  --global-color-background: #f9f2d3;
  --global-color-grey-light: rgb(165, 165, 165);
  --global-color-grey-dark: rgb(84, 91, 94);
  --global-padding-left-right: 15rem;
  --website-info-column-width: 46%;

  --btn-color-blue: rgb(0, 140, 255);
  --btn-color-orange: rgb(255, 187, 0);
  --btn-color-green: rgb(98, 202, 0);
}

p {
  line-height: 1.5rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.btn {
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Spectral", serif;
  height: 100%;
  width: 100%;
  background-color: var(--global-color-background);
}

@mixin displayFlex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

@mixin displayFlexBetween {
  @include displayFlex();
  justify-content: space-between;
}

@mixin displayFlexColumn {
  @include displayFlex();
  flex-direction: column;
}

@mixin positionAbsoluteCenter {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.App {
  width: 100%;
  height: 100%;
}

.overflow-wrapper {
  @include displayFlexColumn();
  background-color: var(--global-color-background);

  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .website-wrapper {
    @include displayFlexColumn();
    justify-content: flex-start;
    width: 1200px;
    height: 100%;
    padding: 6rem 0;
  }
}

.header {
  @include displayFlex();
  transform: translate(-50%, 0);
  position: fixed;
  z-index: 6;
  top: 6rem;
  left: 50%;
  justify-content: flex-end;
  align-items: flex-start;
  width: 1200px;
  height: 0;
  .btn-audio {
    @include displayFlex();
    position: relative;
    width: 4rem;
    height: 4rem;
    .icon {
      @include positionAbsoluteCenter();
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
    }
    .icon-audio-play {
      background-image: url("./images/icon - sound off-01.png");
    }
    .icon-audio-pause {
      background-image: url("./images/icon - sound on-01.png");
    }
  }
}
.website-info {
  position: relative;
  @include displayFlexColumn();
  justify-content: flex-start;
  align-items: flex-start;
  height: 38rem;
  min-height: 38rem;
  width: 100%;
  z-index: 3;
  //margin-bottom: 1rem;
  .website-info-top {
    @include displayFlexBetween();
    align-items: flex-start;
    width: 100%;
    .text-box {
      width: var(--website-info-column-width);
      line-height: 4rem;
      font-weight: 700;
      text-align: right;
      // word-spacing: 9999999px;
      h1 {
        font-weight: 700;
        text-align: center;
      }
      h1:nth-child(1) {
        font-size: 3rem;
      }
      h1:nth-child(2) {
        font-size: 4.7rem;
      }
    }
    .map-image {
      width: var(--website-info-column-width);
      height: 14rem;
      background-image: url("./images/lelija gera png.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .text-boxes-container {
    @include displayFlexBetween();
    align-items: flex-start;
    width: 100%;
    .text-box {
      @include displayFlexColumn();
      width: var(--website-info-column-width);
      background-color: var(--global-color-background);
      h1 {
        align-self: start;
        margin-bottom: 1rem;
        font-size: 31px;
      }
      .text {
        text-align: justify;
        overflow: hidden;
        transition: 0.5s all ease;
        font-size: 18px;
      }
      .btn {
        align-self: flex-end;
        padding: 1rem 0;
        background-color: #e8db9b;
        width: 10rem;
        margin-top: 2rem;
        transition: 0.5s all ease;
        border: none;
        outline: none;
      }
      // .btn:hover {
      //   background-color: black;
      //   color: white;
      // }
    }
    .text-box:nth-child(2) {
      margin-top: 6rem;
    }
  }
}
//aa//aaaa
.interactive-map-section {
  position: relative;
  width: 100%;
  @include displayFlexColumn();
  align-items: flex-start;
  .map-container {
    position: relative;
    width: 100%;
    //  border: 1px solid red;
    .map-images-container {
      position: relative;
      width: 63vw;
      height: 70vw;
      width: 945px;
      height: 1042px;
      //border: 1px solid red;
      .main-map-image {
        width: 100%;
        height: 100%;
        background-image: url("./images/Map (no shadows)-01.png");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }
  }
}

.categories {
  @include displayFlexColumn();
  position: absolute;
  transform: translate(0, 0);
  top: 20%;
  right: 10%;
  align-items: flex-start;
  z-index: 2;
  .text-container {
    margin-bottom: 1rem;
  }
  .buttons-container {
    @include displayFlexColumn();
    align-items: flex-start;
    .btn {
      @include displayFlex();
      justify-content: flex-start;
      border: 2px solid transparent;
      border-radius: 3rem;
      padding: 3px;
      margin-bottom: 5px;
      width: 17rem;
      transition: 0.5s all ease;
      .circle {
        height: 70px;
        width: 70px;
        background-position: center;
        background-size: cover;
        transition: 0.5s all ease;
        margin-right: 1rem;
        cursor: pointer;
      }
      p {
        font-size: 1.3rem;
        margin-bottom: 0.3rem;
      }
    }
    .btn:nth-child(1) {
      .circle {
        background-image: url("./images/seduvos istorija 1-01.png");
      }
    }
    .btn:nth-child(2) {
      .circle {
        background-image: url("./images/seduvos legendos 1-01.png");
      }
    }
    .btn:nth-child(3) {
      .circle {
        background-image: url("./images/seduva dabar 1-01.png");
      }
    }
    .btn:nth-child(1):hover {
      border: 2px solid #99b5cc;
    }
    .btn:nth-child(2):hover {
      border: 2px solid #fed146;
    }
    .btn:nth-child(3):hover {
      border: 2px solid #dec44e;
    }
    .btn-border-history {
      border: 2px solid #99b5cc;
    }
    .btn-border-legends {
      border: 2px solid #fed146;
    }
    .btn-border-present {
      border: 2px solid #dec44e;
    }
  }
}

.map-icons-container {
  @include positionAbsoluteCenter();
  width: 100%;
  height: 100%;
  // background-color: red;
  .btn {
    @include displayFlexColumn();
    @include positionAbsoluteCenter();
    transform: translate(-50%, -100%);
    height: 175px;
    width: 150px;
    top: 100%;
    transition: 0.5s all ease;
    //border: 1px solid yellow;
    overflow: hidden;
    pointer-events: none;
    .logo {
      position: absolute;
      transform: translate(-50%, -86%);
      left: 50%;
      top: 86%;
      background-size: 100% 100%;
      background-position: center;
      transition: 0.4s all ease;
      height: 11vw;
      width: 11vw;
      height: 150px;
      width: 150px;
      opacity: 0;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-delay: 0.2s;
      pointer-events: none;
      // border: 1px solid red;
    }

    .logo-animation {
      animation-name: logo-clicked-animation;
    }

    @keyframes logo-clicked-animation {
      0% {
        height: 150px;
        width: 150px;
      }
      50% {
        height: 170px;
        width: 170px;
      }
      100% {
        height: 150px;
        width: 150px;
      }
    }
    .logo-innactive {
      opacity: 1;
    }
    .logo-scale-animation {
      height: 13vw;
      width: 13vw;
    }
  }

  //History icons----------------------------------------------------------
  .btn-history:nth-child(1) {
    height: 110px;
    z-index: 2;
    top: 46%;
    left: 23%;
    .logo {
      top: 80%;
    }
  }
  .btn-history:nth-child(2) {
    height: 120px;
    z-index: 1;
    top: 58%;
    left: 31%;
    .logo {
      top: 80%;
    }
  }
  //Legends icons------------------------------------------------------------
  .btn-legends {
    width: 110px;
    height: 110px;
    .logo {
      top: 77%;
    }
  }
  .btn-legends:nth-child(3) {
    top: 19%;
    left: 26%;
  }
  .btn-legends:nth-child(4) {
    top: 55%;
    left: 4%;
  }

  .btn-legends:nth-child(5) {
    top: 65%;
    left: 41%;
  }

  .btn-legends:nth-child(6) {
    top: 76%;
    left: 13%;
  }

  .btn-legends:nth-child(7) {
    top: 98%;
    left: 59%;
  }

  .btn-legends:nth-child(8) {
    z-index: 6;
    top: 83%;
    left: 76%;
  }

  .btn-legends:nth-child(9) {
    top: 94%;
    left: 88%;
  }

  //Present icons---------------------------------------------------------
  .btn-present:nth-child(10) {
    top: 22%;
    left: 8%;
  }

  .btn-present:nth-child(11) {
    top: 34%;
    left: 29%;
    z-index: 5;
  }

  .btn-present:nth-child(12) {
    z-index: 0;
    height: 100px;
    top: 34%;
    left: 46%;
    z-index: 5;
    .logo {
      top: 81%;
    }
  }

  .btn-present:nth-child(13) {
    z-index: 3;
    top: 45%;
    left: 36%;
    width: 100px;
    height: 150px;
  }

  .btn-present:nth-child(14) {
    height: 100px;
    top: 44%;
    left: 50%;
    .logo {
      top: 80%;
    }
  }

  .btn-present:nth-child(15) {
    height: 100px;
    top: 64%;
    left: 57%;
    .logo {
      top: 75%;
    }
  }

  .btn-present:nth-child(16) {
    top: 78%;
    left: 37%;
    width: 160px;
    height: 140px;
  }

  .btn-present:nth-child(17) {
    z-index: 2;
    top: 91%;
    left: 73%;
    height: 100px;
    .logo {
      top: 79%;
    }
  }
}

.modal-window-container {
  transform: translate(-50%, 0);
  position: fixed;
  @include displayFlex();
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 3;
  // background-color: rgba($color: #ffffff, $alpha: 0.8);
  .content {
    width: 100%;
    height: 100%;
  }
  .window-content {
    @include displayFlexColumn();
    width: 820px;
    height: auto;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
    .btn-close {
      position: absolute;
      right: 1rem;
      top: 1rem;
      height: 40px;
      width: 40px;
      background-position: center;
      background-size: cover;
      background-image: url("./images/icon - close-01.png");
    }
    .content-top {
      @include displayFlex();
      align-items: flex-end;
      position: relative;
      width: 100%;
      height: 400px;
      padding-bottom: 0;
      background-color: rgb(254, 230, 103);
      .media-screen {
        @include displayFlex();
        position: relative;
        width: 640px;
        height: 360px;
        background-color: black;
        color: white;
        .video-container {
          width: 100%;
          height: 100%;
          video {
            background-position: center;
            background-size: contain;
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }
        .btn-play {
          @include positionAbsoluteCenter();
          @include displayFlex();
          background-position: center;
          background-size: cover;
          background-image: url("./images/icon - legendos video-01.png");
          width: 120px;
          height: 120px;
          cursor: pointer;
          z-index: 2;
        }
        .btn-pause {
          opacity: 0;
          transition: 0.5s all ease;
          background-image: url("./images/Pause - 2-01.png");
        }
        .btn-pause:hover {
          opacity: 1;
        }
      }
    }
    .content-bottom {
      @include displayFlex();
      width: 100%;
      background-color: white;
      .content-bottom-wrapper {
        width: 640px;
        @include displayFlexColumn();
        align-items: flex-start;
        padding-bottom: 5rem;
        padding-top: 35px;
        h1 {
          font-size: 31px;
          line-height: 31px;
          margin-bottom: 15px;
        }
        p {
          text-align: justify;
          font-size: 18px;
          white-space: pre-wrap;
          white-space: pre-line;
        }
      }
    }
  }
}

.window-audio {
  .window-content {
    .content-top {
      background-color: #a7b9c7;
      .media-screen {
        .btn-play {
          background-image: url("./images/icon - audio-01.png");
        }
        .btn-pause {
          background-image: url("./images/Pause - 1-01.png");
        }
      }
    }
  }
}

.window-gallery {
  @include displayFlex();
  .window-content {
    .content-top {
      background-color: rgb(189, 218, 85);
      .media-screen {
        @include displayFlexBetween();
        position: relative;
        .buttons {
          @include positionAbsoluteCenter();
          @include displayFlexBetween();
          padding: 0 10px;
          width: 100%;
          z-index: 2;
          .btn-gallery {
            position: relative;
            height: 40px;
            width: 40px;
            background-position: center;
            background-size: cover;
          }
          .btn-previous {
            background-image: url("./images/icon - back-1-01.png");
          }
          .btn-next {
            background-image: url("./images/icon - forward-01.png");
          }
        }
        .image-container {
          @include displayFlex();
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden;
          .image-carousel-overflow {
            position: relative;
            width: 100%;
            height: 100%;
            .image-carousel {
              position: absolute;
              //  animation: 15s image-carousel-animation infinite;
              @include displayFlex();
              transition-duration: 0.5s;
              height: 100%;
              width: 500%;
              .image {
                width: calc(100% / 5);
                height: 100%;
                background-position: center;
                background-size: cover;
              }
              .image:nth-child(1) {
                background-image: url("./images/simkunaite/simkunaite1.jpg");
              }
              .image:nth-child(2) {
                background-image: url("./images/simkunaite/simkunaite2.jpg");
              }
              .image:nth-child(3) {
                background-image: url("./images/simkunaite/simkunaite3.jpg");
              }
              .image:nth-child(4) {
                background-image: url("./images/simkunaite/simkunaite4.jpg");
              }
              .image:nth-child(5) {
                background-image: url("./images/simkunaite/simkunaite1.jpg");
              }
            }
          }
        }
      }
    }
    .content-bottom {
      .image-container {
        @include displayFlexBetween();
        width: 100%;
        height: 8rem;
        position: relative;
        overflow: hidden;
        margin-bottom: 35px;
        .image {
          width: calc(100% / 6);
          height: 100%;
          background-position: center;
          background-size: cover;
        }
        .image:nth-child(1) {
          background-image: url("./images/simkunaite/simkunaite1.jpg");
        }
        .image:nth-child(2) {
          background-image: url("./images/simkunaite/simkunaite2.jpg");
        }
        .image:nth-child(3) {
          background-image: url("./images/simkunaite/simkunaite3.jpg");
        }
        .image:nth-child(4) {
          background-image: url("./images/simkunaite/simkunaite4.jpg");
        }
        .image:nth-child(5) {
          background-image: url("./images/simkunaite/simkunaite1.jpg");
        }
      }
    }
  }
}

@keyframes image-carousel-animation {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.window-virtual-reality {
  .window-content {
    position: relative;
    @include displayFlexColumn();
    color: white;
    width: 35rem;
    height: 20rem;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    p {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    .btn-confirm-vr {
      @include displayFlex();
      font-size: 1.5rem;
      background-color: #dac14c;
      width: 10rem;
      height: 3rem;
    }
  }
}
