*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

ul li {
  list-style-type: none;
  display: block;
}

:root {
  --global-color-background: #f9f2d3;
  --global-color-grey-light: rgb(165, 165, 165);
  --global-color-grey-dark: rgb(84, 91, 94);
  --global-padding-left-right: 15rem;
  --btn-color-blue: rgb(0, 140, 255);
  --btn-color-orange: rgb(255, 187, 0);
  --btn-color-green: rgb(98, 202, 0);
}

p {
  line-height: 1.5rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.btn {
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", sans-serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  width: 100%;
  background-color: var(--global-color-background);
}

.App {
  width: 100%;
  height: 100%;
}

.overflow-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: var(--global-color-background);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overflow-wrapper .website-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 80vw;
  height: 100%;
  padding: 6rem 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 6;
  top: 6rem;
  left: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 0;
}

.header .btn-audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 4rem;
  height: 4rem;
  margin-right: 8rem;
}

.header .btn-audio .icon {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.header .btn-audio .icon-audio-play {
  background-image: url("./images/icon - sound off-01.png");
}

.header .btn-audio .icon-audio-pause {
  background-image: url("./images/icon - sound on-01.png");
}

.website-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 38rem;
  min-height: 38rem;
  width: 100%;
  z-index: 2;
  margin-bottom: 10rem;
}

.website-info .website-info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.website-info .website-info-top h1 {
  font-size: 3rem;
  text-align: right;
  word-spacing: 9999999px;
  width: 48%;
}

.website-info .website-info-top .map-image {
  width: 48%;
  height: 14rem;
  background-image: url("./images/Map small-01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 3rem;
}

.website-info .text-boxes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.website-info .text-boxes-container .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 48%;
  background-color: var(--global-color-background);
}

.website-info .text-boxes-container .text-box h1 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-bottom: 1rem;
}

.website-info .text-boxes-container .text-box .text {
  text-align: justify;
  overflow: hidden;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.website-info .text-boxes-container .text-box .btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 1rem 0;
  background-color: #e8db9b;
  width: 10rem;
  margin-top: 2rem;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  border: none;
  outline: none;
}

.website-info .text-boxes-container .text-box .btn:hover {
  background-color: black;
  color: white;
}

.website-info .text-boxes-container .text-box:nth-child(2) {
  margin-top: 6rem;
}

.interactive-map-section {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.interactive-map-section .map-container {
  position: relative;
  width: 100%;
}

.interactive-map-section .map-container .map-images-container {
  position: relative;
  width: 63vw;
  height: 70vw;
}

.interactive-map-section .map-container .map-images-container .main-map-image {
  width: 100%;
  height: 100%;
  background-image: url("./images/Map-01.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  position: absolute;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  top: 20%;
  right: 10%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 2;
}

.categories .text-container {
  margin-bottom: 1rem;
}

.categories .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.categories .buttons-container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 2px solid transparent;
  border-radius: 3rem;
  padding: 3px;
  margin-bottom: 1rem;
  width: 16rem;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.categories .buttons-container .btn .circle {
  height: 4rem;
  width: 4rem;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  margin-right: 1rem;
  cursor: pointer;
}

.categories .buttons-container .btn p {
  margin-bottom: 0.3rem;
}

.categories .buttons-container .btn:nth-child(1) .circle {
  background-image: url("./images/seduvos istorija 1-01.png");
}

.categories .buttons-container .btn:nth-child(2) .circle {
  background-image: url("./images/seduvos legendos 1-01.png");
}

.categories .buttons-container .btn:nth-child(3) .circle {
  background-image: url("./images/seduva dabar 1-01.png");
}

.categories .buttons-container .btn:nth-child(1):hover {
  border: 2px solid #99b5cc;
}

.categories .buttons-container .btn:nth-child(2):hover {
  border: 2px solid #fed146;
}

.categories .buttons-container .btn:nth-child(3):hover {
  border: 2px solid #dec44e;
}

.map-icons-container {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
}

.map-icons-container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -95%);
          transform: translate(-50%, -95%);
  top: 100%;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.map-icons-container .btn .logo {
  background-size: 100% 100%;
  background-position: center;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  cursor: pointer;
  height: 11vw;
  width: 11vw;
}

.map-icons-container .btn .logo-scale-animation {
  height: 13vw;
  width: 13vw;
}

.map-icons-container .btn-history:nth-child(1) {
  z-index: 2;
  top: 45%;
  left: 24%;
}

.map-icons-container .btn-history:nth-child(1) .logo {
  background-image: url("./images/seduvos istorija - icon 2-1-01.png");
}

.map-icons-container .btn-history:nth-child(1):hover .logo {
  background-image: url("./images/seduvos istorija - icon 2-3-01.png");
}

.map-icons-container .btn-history:nth-child(2) {
  z-index: 1;
  top: 54%;
  left: 31%;
}

.map-icons-container .btn-history:nth-child(2) .logo {
  background-image: url("./images/seduvos istorija - icon 1-1-01.png");
}

.map-icons-container .btn-history:nth-child(2):hover .logo {
  background-image: url("./images/seduvos istorija - icon 1-3-01.png");
}

.map-icons-container .btn-legends:nth-child(3) {
  top: 19%;
  left: 26%;
}

.map-icons-container .btn-legends:nth-child(3) .logo {
  background-image: url("./images/seduvos legendos 1-1-01.png");
}

.map-icons-container .btn-legends:nth-child(3):hover .logo {
  background-image: url("./images/seduvos legendos 1-3-01.png");
}

.map-icons-container .btn-legends:nth-child(4) {
  top: 55%;
  left: 4%;
}

.map-icons-container .btn-legends:nth-child(4) .logo {
  background-image: url("./images/seduvos legendos 2-1-01.png");
}

.map-icons-container .btn-legends:nth-child(4):hover .logo {
  background-image: url("./images/seduvos legendos 2-3-01.png");
}

.map-icons-container .btn-legends:nth-child(5) {
  top: 65%;
  left: 41%;
}

.map-icons-container .btn-legends:nth-child(5) .logo {
  background-image: url("./images/seduvos legendos 3-1-01.png");
}

.map-icons-container .btn-legends:nth-child(5):hover .logo {
  background-image: url("./images/seduvos legendos 3-3-01.png");
}

.map-icons-container .btn-legends:nth-child(6) {
  top: 76%;
  left: 13%;
}

.map-icons-container .btn-legends:nth-child(6) .logo {
  background-image: url("./images/seduvos legendos 4-1-01.png");
}

.map-icons-container .btn-legends:nth-child(6):hover .logo {
  background-image: url("./images/seduvos legendos 4-3-01.png");
}

.map-icons-container .btn-legends:nth-child(7) {
  top: 98%;
  left: 59%;
}

.map-icons-container .btn-legends:nth-child(7) .logo {
  background-image: url("./images/seduvos legendos 5-1-01.png");
}

.map-icons-container .btn-legends:nth-child(7):hover .logo {
  background-image: url("./images/seduvos legendos 5-3-01.png");
}

.map-icons-container .btn-legends:nth-child(8) {
  top: 84%;
  left: 76%;
}

.map-icons-container .btn-legends:nth-child(8) .logo {
  background-image: url("./images/seduvos legendos 6-1-01.png");
}

.map-icons-container .btn-legends:nth-child(8):hover .logo {
  background-image: url("./images/seduvos legendos 6-3-01.png");
}

.map-icons-container .btn-legends:nth-child(9) {
  top: 94%;
  left: 88%;
}

.map-icons-container .btn-legends:nth-child(9) .logo {
  background-image: url("./images/seduvos legendos 7-1-01.png");
}

.map-icons-container .btn-legends:nth-child(9):hover .logo {
  background-image: url("./images/seduvos legendos 7-3-01.png");
}

.map-icons-container .btn-present:nth-child(10) {
  top: 24%;
  left: 8%;
}

.map-icons-container .btn-present:nth-child(10) .logo {
  background-image: url("./images/seduva dabar 1-1-01.png");
}

.map-icons-container .btn-present:nth-child(10):hover .logo {
  background-image: url("./images/seduva dabar 1-3-01.png");
}

.map-icons-container .btn-present:nth-child(11) {
  top: 34%;
  left: 29%;
}

.map-icons-container .btn-present:nth-child(11) .logo {
  background-image: url("./images/seduva dabar 2-1-01.png");
}

.map-icons-container .btn-present:nth-child(11):hover .logo {
  background-image: url("./images/seduva dabar 2-3-01.png");
}

.map-icons-container .btn-present:nth-child(12) {
  top: 34%;
  left: 46%;
}

.map-icons-container .btn-present:nth-child(12) .logo {
  background-image: url("./images/seduva dabar 3-1-01.png");
}

.map-icons-container .btn-present:nth-child(12):hover .logo {
  background-image: url("./images/seduva dabar 3-3-01.png");
}

.map-icons-container .btn-present:nth-child(13) {
  top: 45%;
  left: 36%;
}

.map-icons-container .btn-present:nth-child(13) .logo {
  background-image: url("./images/seduva dabar 4-1-01.png");
}

.map-icons-container .btn-present:nth-child(13):hover .logo {
  background-image: url("./images/seduva dabar 4-3-01.png");
}

.map-icons-container .btn-present:nth-child(14) {
  top: 42%;
  left: 50%;
}

.map-icons-container .btn-present:nth-child(14) .logo {
  background-image: url("./images/seduva dabar 5-1-01.png");
}

.map-icons-container .btn-present:nth-child(14):hover .logo {
  background-image: url("./images/seduva dabar 5-3-01.png");
}

.map-icons-container .btn-present:nth-child(15) {
  top: 63%;
  left: 57%;
}

.map-icons-container .btn-present:nth-child(15) .logo {
  background-image: url("./images/seduva dabar 6-1-01.png");
}

.map-icons-container .btn-present:nth-child(15):hover .logo {
  background-image: url("./images/seduva dabar 6-3-01.png");
}

.map-icons-container .btn-present:nth-child(16) {
  top: 78%;
  left: 37%;
}

.map-icons-container .btn-present:nth-child(16) .logo {
  background-image: url("./images/seduva dabar 7-1-01.png");
}

.map-icons-container .btn-present:nth-child(16):hover .logo {
  background-image: url("./images/seduva dabar 7-3-01.png");
}

.map-icons-container .btn-present:nth-child(17) {
  top: 89%;
  left: 73%;
}

.map-icons-container .btn-present:nth-child(17) .logo {
  background-image: url("./images/seduva dabar 8-1-01.png");
}

.map-icons-container .btn-present:nth-child(17):hover .logo {
  background-image: url("./images/seduva dabar 8-3-01.png");
}

.modal-window-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-window-container .content {
  width: 100%;
  height: 100%;
}

.modal-window-container .window-content {
  width: 40%;
  height: auto;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

.modal-window-container .window-content .content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  padding: 0 5rem;
  background-color: #8fcccc;
}

.modal-window-container .window-content .content-top .media-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 20rem;
  background-color: black;
  color: white;
  margin-top: 4rem;
}

.modal-window-container .window-content .content-top .media-screen .video-container {
  width: 100%;
  height: 100%;
}

.modal-window-container .window-content .content-top .media-screen .video-container video {
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.modal-window-container .window-content .content-top .media-screen .btn-play {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9rem;
  height: 9rem;
  border-radius: 5rem;
  color: black;
  background-color: #8fcccc;
  cursor: pointer;
  z-index: 2;
}

.modal-window-container .window-content .content-top .media-screen .btn-pause {
  opacity: 0;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.modal-window-container .window-content .content-top .media-screen .btn-pause:hover {
  opacity: 1;
}

.modal-window-container .window-content .content-top .btn-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: white;
}

.modal-window-container .window-content .content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: white;
  padding: 2rem 5rem;
  padding-bottom: 5rem;
}

.modal-window-container .window-content .content-bottom h1 {
  margin-bottom: 1rem;
}

.modal-window-container .window-content .content-bottom p {
  text-align: justify;
}

.window-audio .window-content .content-top {
  background-color: #fee667;
}

.window-audio .window-content .content-top .media-screen .btn-play {
  background-color: #fee667;
}

.window-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.window-gallery .window-content .content-top {
  background-color: #bdda55;
}

.window-gallery .window-content .content-top .media-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.window-gallery .window-content .content-top .media-screen .buttons {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 2;
}

.window-gallery .window-content .content-top .media-screen .buttons .btn-gallery {
  position: relative;
  color: black;
  width: 6rem;
  padding: 0.5rem 0;
  background-color: white;
}

.window-gallery .window-content .content-top .media-screen .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.window-gallery .window-content .content-top .media-screen .image-container .image-carousel-overflow {
  position: relative;
  width: 100%;
  height: 100%;
}

.window-gallery .window-content .content-top .media-screen .image-container .image-carousel-overflow .image-carousel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  height: 100%;
  width: 500%;
}

.window-gallery .window-content .content-top .media-screen .image-container .image-carousel-overflow .image-carousel .image {
  width: calc(100% / 5);
  height: 100%;
  background-position: center;
  background-size: cover;
}

.window-gallery .window-content .content-top .media-screen .image-container .image-carousel-overflow .image-carousel .image:nth-child(1) {
  background-image: url("./images/simkunaite/simkunaite1.jpg");
}

.window-gallery .window-content .content-top .media-screen .image-container .image-carousel-overflow .image-carousel .image:nth-child(2) {
  background-image: url("./images/simkunaite/simkunaite2.jpg");
}

.window-gallery .window-content .content-top .media-screen .image-container .image-carousel-overflow .image-carousel .image:nth-child(3) {
  background-image: url("./images/simkunaite/simkunaite3.jpg");
}

.window-gallery .window-content .content-top .media-screen .image-container .image-carousel-overflow .image-carousel .image:nth-child(4) {
  background-image: url("./images/simkunaite/simkunaite4.jpg");
}

.window-gallery .window-content .content-top .media-screen .image-container .image-carousel-overflow .image-carousel .image:nth-child(5) {
  background-image: url("./images/simkunaite/simkunaite1.jpg");
}

.window-gallery .window-content .content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.window-gallery .window-content .content-bottom .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 8rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
}

.window-gallery .window-content .content-bottom .image-container .image {
  width: calc(100% / 6);
  height: 100%;
  background-position: center;
  background-size: cover;
}

.window-gallery .window-content .content-bottom .image-container .image:nth-child(1) {
  background-image: url("./images/simkunaite/simkunaite1.jpg");
}

.window-gallery .window-content .content-bottom .image-container .image:nth-child(2) {
  background-image: url("./images/simkunaite/simkunaite2.jpg");
}

.window-gallery .window-content .content-bottom .image-container .image:nth-child(3) {
  background-image: url("./images/simkunaite/simkunaite3.jpg");
}

.window-gallery .window-content .content-bottom .image-container .image:nth-child(4) {
  background-image: url("./images/simkunaite/simkunaite4.jpg");
}

.window-gallery .window-content .content-bottom .image-container .image:nth-child(5) {
  background-image: url("./images/simkunaite/simkunaite1.jpg");
}

@-webkit-keyframes image-carousel-animation {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes image-carousel-animation {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.window-virtual-reality .window-content {
  position: relative;
  height: 90%;
  width: 90%;
  padding: 0;
}

.window-virtual-reality .window-content .content-top {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1;
}

.window-virtual-reality .window-content .content-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.window-virtual-reality .window-content .content-bottom .vr-video-container {
  width: 100%;
  height: 100%;
  background-image: url("./images/virtual_reality_video.jpg");
  background-position: center;
  background-size: cover;
}

.window-virtual-reality .window-content .content-bottom .btn-container {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.window-virtual-reality .window-content .content-bottom .btn-container .btn {
  font-size: 3rem;
  background-color: #414141;
  color: white;
  border: 1px solid white;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
/*# sourceMappingURL=index.css.map */